figure.image {
    display: inline-block;
    border: 1px solid gray;
    margin: 0 2px 0 1px;
    background: #f5f2f0;
  }
  
  figure.align-left {
    float: left;
  }
  
  figure.align-right {
    float: right;
  }
  
  figure.image img {
    margin: 8px 8px 0 8px;
  }
  
  figure.image figcaption {
    margin: 6px 8px 6px 8px;
    text-align: center;
  }
  /*
   Alignment using classes rather than inline styles
   check out the "formats" option
  */
  img.align-left {
    float: left;
  }
  img.align-right {
    float: right;
  }
  #tinymce-filemanager{
    position: fixed;
    left: calc( ( 100% - 600px ) / 2 );
    right: calc( ( 100% - 600px ) / 2 );
    top: 4em;
    padding: 2px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: none;
  }
  #tinymce-filemanager > div{
    max-width: 600px;
    max-height: 400px;
    background: #fff;
    border: 1px solid #999;
  }
  /* Tabs*/
  .tabset > input[type="radio"] {
      position: absolute;
      left: -200vw;
  }
  .tabset .tab-panel {
      display: none;
      padding: 0;
  }
  .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
  .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
  .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
  .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
  .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
  .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {display: block;}
  .tabset > label {
      position: relative;
      display: inline-block;
      padding: 18px;
      margin-top: 2px;
      margin-left: 2px;
      border-bottom: 3px solid transparent;
      cursor: pointer;
      font-size: 80%;
  }
  .tabset > label:hover,
  .tabset > input:focus + label {
      color: #06c;
  }
  .tabset > label:hover::after,
  .tabset > input:focus + label::after,
  .tabset > input:checked + label::after {
      background: #06c;
  }
  .tabset > input:checked + label {
      border-color: #ccc;
  }
  .tab-panel {
      padding: 30px 0;
      border-top: 1px solid #ccc;
  }
  /*.tab-panel > *{
      padding: 1em;
  }*/
  
  /* Tabs */
  
  .tab-view > input{
      display: none;
  }
  .tab-view > label{
      padding: .6em 1em .3em 0;
      border-bottom: 3px solid transparent;
      display: inline-block;
  }
  .tab-view > input:checked + label{
      border-bottom: 3px solid #ccc;
  }
  .tab-panes{
      display: grid;
      overflow: hidden;
      border-top: 1px solid #ddd;
      padding: 0;
  }
  .tab-panes > *{
      grid-area: 1 / 1;
      transition: all .0s;
      visibility: hidden;
      z-index: -1;
      padding-top: 4px;
  }
  .tab-view > input:nth-child(1):checked ~ .tab-panes > *:nth-child(1){
      visibility: visible;
      transition: all .0s;
      z-index: 1;
  }
  .tab-view > input:nth-child(3):checked ~ .tab-panes > *:nth-child(2){
      visibility: visible;
      transition: all .0s;
      z-index: 1;
  }
  .tab-view > input:nth-child(5):checked ~ .tab-panes > *:nth-child(3){
      visibility: visible;
      transition: all .0s;
      z-index: 1;
  }
  .tab-view > input:nth-child(7):checked ~ .tab-panes > *:nth-child(4){
      visibility: visible;
      transition: all .0s;
      z-index: 1;
  }
  .tab-view > input:nth-child(9):checked ~ .tab-panes > *:nth-child(5){
      visibility: visible;
      transition: all .0s;
      z-index: 1;
  }
  .tab-view > input:nth-child(11):checked ~ .tab-panes > *:nth-child(6){
      visibility: visible;
      transition: all .0s;
      z-index: 1;
  }
  .tab-view > input:nth-child(13):checked ~ .tab-panes > *:nth-child(7){
      visibility: visible;
      transition: all .0s;
      z-index: 1;
  }
  .tab-view > input:nth-child(15):checked ~ .tab-panes > *:nth-child(8){
      visibility: visible;
      transition: all .0s;
      z-index: 1;
  }
  .tab-view > input:nth-child(17):checked ~ .tab-panes > *:nth-child(9){
      visibility: visible;
      transition: all .0s;
      z-index: 1;
  }
  .tab-view > input:nth-child(19):checked ~ .tab-panes > *:nth-child(10){
      visibility: visible;
      transition: all .0s;
      z-index: 1;
  }
  .tab-view > input:nth-child(21):checked ~ .tab-panes > *:nth-child(11){
      visibility: visible;
      transition: all .0s;
      z-index: 1;
  }
  .tab-view > input:nth-child(23):checked ~ .tab-panes > *:nth-child(13){
      visibility: visible;
      transition: all .0s;
      z-index: 1;
  }
  /* end tabs*/
  .highlight{
      box-shadow: 0 0 3px #999;
  }
  .actions > *{
      padding: .3em 1em;
      border-right: 1px solid #ddd;
      font-size: 90%;
  }
  .actions [data-icon]::before{
      font-size: 100%;
  }