    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <a href="index.php" class="d-inline-block mb-3 text-decoration-none">
                        <h1 class="text-white"><img class="d-lg-none" src="assets/img/favicon.png" alt=""> Banny Co LTD<span class="text-primary">.</span></h1>
                    </a>
                    <p class="mb-0">
                        Banny Company excels in IT solutions, blending innovation with expertise to empower businesses, ensuring reliability, growth, and unmatched technical support.
                    </p>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                    <h5 class="text-white mb-4">Get In Touch</h5>
                    <p><a class="text-decoration-none" href="" style="color: #838c99 !important;"><i class="fa fa-map-marker-alt me-3"></i>NHC House, Samora Ave</a></p>
                    <p><i class="me-3"></i><i class="me-3"></i>13th room, Mezzanine Floor </p>
                    <p><i class="me-3"></i><i class="me-3"></i>P.O.Box 22429</p>
                    <p><a class="text-decoration-none" href="tel:+255755049955" style="color: #838c99 !important;"><i class="fa fa-phone-alt me-3"></i>+255 755 049 955</a></p>
                    <p><a class="text-decoration-none" href="mailto:info@banny.co.tz" style="color: #838c99 !important;"><i class="fa fa-envelope me-3"></i>info@banny.co.tz</a></p>
                    <p><a class="text-decoration-none" href="mailto:sales@banny.co.tz" style="color: #838c99 !important;"><i class="fa fa-envelope me-3"></i>sales@banny.co.tz</a></p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" target="_blank" href="https://wa.me/+255717699320"><i class="fab fa-whatsapp"></i></a>
                        <a class="btn btn-outline-light btn-social" target="_blank" href="https://www.facebook.com/bannycomputersltd"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" target="_blank" href="https://www.instagram.com/banny_computers/"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-light btn-social" target="_blank" href="https://tz.linkedin.com/company/banny-company-tanzania"><i class="fab fa-linkedin-in"></i></a>
                        <!-- <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a> -->
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                    <h5 class="text-white mb-4">Popular Link</h5>
                    <a class="btn btn-link text-decoration-none" href="about.php">About Us</a>
                    <a class="btn btn-link text-decoration-none" href="contact.php">Contact Us</a>
                    <a class="btn btn-link text-decoration-none" href="">Privacy Policy</a>
                    <a class="btn btn-link text-decoration-none" href="">Terms & Condition</a>
                    <a class="btn btn-link text-decoration-none" href="">Career</a>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                    <h5 class="text-white mb-4">Our Services</h5>
                    <a class="btn btn-link text-decoration-none" href="">Access control</a>
                    <a class="btn btn-link text-decoration-none" href="">Camera installation</a>
                    <a class="btn btn-link text-decoration-none" href="">Software development</a>
                    <a class="btn btn-link text-decoration-none" href="">Firewall installation</a>
                    <a class="btn btn-link text-decoration-none" href="">Fire alram installation</a>
                </div>
            </div>
        </div>
        <div class="container wow fadeIn" data-wow-delay="0.1s">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; 2023 <a class="border-bottom" href="#">Banny Co LTD</a>, All Right Reserved. <span>Developed by <a class="border-bottom" target="_blank" href="https://jasperrupia.com">Katunzi JR</a></span>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="index.php">Home</a>
                            <a href="#">Cookies</a>
                            <a href="">Help</a>
                            <a href="faq.php">FAQs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->